<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merengue</title>
</head>
<body>
    <a href="/views/../index.html">Home</a>
    <h1>Merengue</h1>
    <img src="/resourses/img/Merengue.jpg" alt="merengue" height="300" width="300">
    <p>
        El <b>merengue</b> es un alimento de alta calidad, con un alto nivel de acidez y un alto nivel de proteínas. Su función principal es eliminar el <em>paladar</em> de los sabores fuertes de las comidas principales, y proporcionar un toque dulce y agradable al final de la comida.<br>
        </p>
     <ul>
        <h2>ingredientes</h2>
        <li><b>huevos</b></li>
        <li><b>azúcar</b></li>
        <li><b>Aromas</b></li>
        </ul>
    <ol>
        <h2>Preparación</h2>
        <li><b>Separar las claras de las yemas.</b></li>
        <li><b>Batir las claras a punto de nieve.</b></li>
        <li><b>Añadir el azúcar poco a poco, sin dejar de batir.</b></li>
        <li><b>Añadir los aromas, si se desea.</b></li>
        <li><b>Batir hasta que el merengue esté firme y brillante.</b></li>
        </ol>
</body>
</html>