<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>milhojas</title>
</head>
<body>
    <a href="/views/../index.html">Home</a>
    <h1>Milhojas</h1>
    <img src="/resourses/img/Milhoja.jpg" alt="Milhojas" height="300" width="300">
    <p>
        Las <b>milhojas</b> son un postre tradicional de la pastelería francesa. Se elaboran con láminas de hojaldre intercaladas con crema pastelera o crema de chocolate, y se sirven espolvoreadas con azúcar glas o con una capa de merengue.<br>

        Las milhojas se caracterizan por su delicada textura y su sabor dulce y <em>cremoso.</em> Son un postre muy versátil, que se puede servir en cualquier ocasión.
      </p>

    <ul>
        <h2>ingredientes</h2>
        <li><b>Hojaldre</b></li>
        <li><b>Crema pastelera o crema de chocolate</b></li>
        <li><b> Azúcar glas o merengue</b></li>
        </ul>
    <ol>
        <h2>Preparación</h2>
        <li><b>Precalentar el horno a 180 grados centígrados.</b></li>
        <li><b>Extender el hojaldre sobre una superficie enharinada.</b></li>
        <li><b>Cortar el hojaldre en láminas finas.</b></li>
        <li><b>Colocar las láminas de hojaldre en una bandeja de horno engrasada.</b></li>
        <li><b>Hornear durante 15-20 minutos, o hasta que el hojaldre esté dorado.</b></li>
        <li><b>Dejar enfriar el hojaldre.</b></li>
        <li><b>Rellenar las milhojas con la crema pastelera o la crema de chocolate.</b></li>
        <li><b>Espolvorear las milhojas con azúcar glas o con una capa de merengue.</b></li>
        </ol>
</body>
</html>