<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pollo a la naranja</title>
</head>
<body>
    <h1>Pollo a la naranja</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis repellendus id totam tempore aliquam corrupti earum perspiciatis sed, eligendi corporis incidunt labore officiis dolorem commodi quis aliquid ratione dolore non veniam sapiente. Impedit aspernatur quod distinctio architecto ullam vel ducimus ipsum sed. Veniam, recusandae accusamus.</p>
    <h2>Ingredientes</h2>
    <ul>
        <li>200g de manzana</li>
        <li>200g de naranja</li>
        <li>100g de sal</li>
        <li>100g de cilantro</li>
        <li>100g de leche</li>
        <li>100g de tomate</li>
        <li>100g de pimienta</li>
    </ul>
</body>
</html>