<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pie</title>
</head>
<body>
    <h1>Pie</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate laudantium explicabo saepe enim, quo labore nulla doloremque culpa odit officiis aperiam. Omnis facere molestias, dignissimos soluta veniam itaque eos incidunt odio voluptatibus obcaecati nisi suscipit repudiandae, sint corporis fuga dolore, libero molestiae! Voluptatibus, aspernatur deleniti!z</p>
    <h2>Ingredientes</h2>
    <ul>
        <li>200g de manzana</li>
        <li>200g de naranja</li>
        <li>100g de sal</li>
        <li>100g de cilantro</li>
        <li>100g de leche</li>
        <li>100g de tomate</li>
        <li>100g de pimienta</li>
    </ul>
</body>
</html>